* {font-family:sans-serif}


/* Zähler */
table { counter-reset: line-number; }
tbody td:first-child:before {
content: counter(line-number) ".";
counter-increment: line-number;
padding-right: 0.3em;
padding-left: 0.7em}


tr td {text-align:center;background-color:#f4e2e2;}
tr td + td {text-align:left;background-color:#fff689;}
tr td + td + td {text-align:left;background-color:#ffa7a7;}
tr td + td + td + td { text-align:center;background-color:#b2f0f9;}
tr td + td + td + td + td{ text-align:center;background-color:#89ffa2;}



/* nur in css 3 gültig
tr td:nth-child(1) {background-color:#fff689;}
tr td:nth-child(2) {background-color:#ffa7a7;}
tr td:nth-child(3) { text-align:center;background-color:#89ffa2;}
tr td:nth-child(4) { text-align:center;background-color:#b2f0f9;}
 */

table, td, thead
{
    border:1px solid white;
}

thead
{    
    font-weight:bold;
}

